force-app/main/default/flows/AddOnlineProductToCustomerCart.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>QuantityUpdate1</name>
        <label>Quantity Update 1</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>QuantityUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerLineItem.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProductAdded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuantityUpdate2</name>
        <label>Quantity Update 2</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>QuantityUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityNewCartLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProductAdded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuantityUpdate3</name>
        <label>Quantity Update 3</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>QuantityUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityNewCart</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProductAdded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateQuantity</name>
        <label>Update Quantity</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>CustomerLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateExistingLineCartItem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DoesUserHasAnAccount</name>
        <label>Does User Has An Account?</label>
        <locationX>710</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>GoodByeNoAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Has No Account</defaultConnectorLabel>
        <rules>
            <name>UserHasAnAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewCustomerCartScreen</targetReference>
            </connector>
            <label>User Has An Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsThereAlreadyACustomerCard</name>
        <label>Is There Already A Customer Card?</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>UserContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>There Is No Customer Card Yet</defaultConnectorLabel>
        <rules>
            <name>ThereIsAlreadyACustomerCard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserCart.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerLineItem</targetReference>
            </connector>
            <label>There Is Already A Customer Card</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsThereLineItemOfTheProduct</name>
        <label>Is There Line Item Of The Product?</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>NewCartLineItemScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>There Is No Line Item Of The Product Yet</defaultConnectorLabel>
        <rules>
            <name>ThereIsAlreadyLineItemOfTheProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerLineItem.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateExistingLineCartItemScreen</targetReference>
            </connector>
            <label>There Is Already Line Item Of The Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsthereProductAssigned</name>
        <label>Is there Product Assigned?</label>
        <locationX>776</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>GoodByeNoProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>There Is No Product Assigned</defaultConnectorLabel>
        <rules>
            <name>ThereIsProductAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnlineProduct.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UserCart</targetReference>
            </connector>
            <label>There Is Product Assigned</label>
        </rules>
    </decisions>
    <description>Screen used in order to add an Online Product to Customer Cart.</description>
    <environments>Default</environments>
    <interviewLabel>Add Online Product to Customer Cart {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Online Product To Customer Cart</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_New_Cart_Line_Item</name>
        <label>Copy 1 of New Cart Line Item</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>QuantityUpdate3</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Cart__c</field>
            <value>
                <elementReference>NewCustomerCartID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_Product__c</field>
            <value>
                <elementReference>OnlineProduct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>QuantityNewCart</elementReference>
            </value>
        </inputAssignments>
        <object>CartLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>NewCartLineItem</name>
        <label>New Cart Line Item</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>QuantityUpdate2</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Cart__c</field>
            <value>
                <elementReference>UserCart.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_Product__c</field>
            <value>
                <elementReference>OnlineProduct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>QuantityNewCartLine</elementReference>
            </value>
        </inputAssignments>
        <object>CartLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>NewCustomerCart</name>
        <label>New Customer Cart</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignRecordIdToReference>NewCustomerCartID</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_New_Cart_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>UserAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Cart__c</object>
    </recordCreates>
    <recordLookups>
        <description>Customer Line Item between a User and Customer Card</description>
        <name>CustomerLineItem</name>
        <label>Customer Line Item</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsThereLineItemOfTheProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Online_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnlineProduct.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Cart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserCart.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CartLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Did User started shopping before?</description>
        <name>UserCart</name>
        <label>User Cart</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsThereAlreadyACustomerCard</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>UserContact</name>
        <label>User Contact</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesUserHasAnAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>UserAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateExistingLineCartItem</name>
        <label>Update Existing Line Cart Item</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>QuantityUpdate1</targetReference>
        </connector>
        <inputReference>CustomerLineItem</inputReference>
    </recordUpdates>
    <screens>
        <name>GoodByeNoAccount</name>
        <label>Good Bye No Account</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>GoodByeScreenNoAccount</name>
            <fieldText>&lt;p&gt;We apologize, but apparently we cannot navigate to your Account.  Please contact our support team.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GoodByeNoProduct</name>
        <label>Good Bye No Product</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_GoodByeScreen</name>
            <fieldText>&lt;p&gt;We apologize, but apparently we cannot navigate to an Online Product.  Please contact our support team.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NewCartLineItemScreen</name>
        <label>New Cart Line Item Screen</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NewCartLineItem</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_ScreenTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Add {!OnlineProduct.Name} into your cart&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QuantityNewCartLine</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Add</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NewCustomerCartScreen</name>
        <label>New Customer Cart Screen</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NewCustomerCart</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_ScreenTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Add {!OnlineProduct.Name} into your cart&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QuantityNewCart</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Add</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProductAdded</name>
        <label>Product Added</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>GoodByeScreen</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!QuantityUpdated} &lt;/strong&gt;of&lt;strong&gt; {!OnlineProduct.Name}s&lt;/strong&gt; was added into your cart.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UpdateExistingLineCartItemScreen</name>
        <label>Update Existing Line Cart Item Screen</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateQuantity</targetReference>
        </connector>
        <fields>
            <name>ScreenTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Update quantity of {!OnlineProduct.Name} in your cart&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QuantityUpdate</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>CustomerLineItem.Quantity__c</elementReference>
            </defaultValue>
            <fieldText>Quantity Update</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Add</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsthereProductAssigned</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailToAdminSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;There is a problem with &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Add Online Product To Customer Cart flow&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>NewCustomerCartID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>What is a Product record on which screen is placed?</description>
        <name>OnlineProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product__c</objectType>
    </variables>
    <variables>
        <description>Quantity after flow is done</description>
        <name>QuantityUpdated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UserAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
