force-app/main/default/flows/AssociateTheProductWithParentCategories.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Assign Parent Category</description>
        <name>AssignParentCategory</name>
        <label>Assign Parent Category</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>NewProductCategory.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProductCategory.TechnicalProductStatusforRollup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TechnicalProductStatusforRollup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProductCategory.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Category__r.Parent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsParentCategoryNull</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsParentCategoryNull</name>
        <label>Is Parent Category Null</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>RecordOfProductCategoryIdenticalToANewOne</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Null</defaultConnectorLabel>
        <rules>
            <name>ParentIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewProductCategory.Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Parent Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsThereAlreadyAProductCategoryIdenticalToANewOne</name>
        <label>Is There Already A Product Category Identical To A New One</label>
        <locationX>374</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>CreateNewProductCategory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No There Is Not</defaultConnectorLabel>
        <rules>
            <name>YesThereIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordOfProductCategoryIdenticalToANewOne.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes There Is</label>
        </rules>
    </decisions>
    <description>User wants the product added to the category to be also associated with the parent categories</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula to check if there already is a product category like the one we want to create</description>
        <name>NewTechnicalProductCategoryUniqueHelper</name>
        <dataType>String</dataType>
        <expression>{!$Record.Product__c} &amp; {!$Record.Category__r.Parent__c}</expression>
    </formulas>
    <interviewLabel>Associate The Product With Parent Categories {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Associate The Product With Parent Categories</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create new Product Category between Product and Parent Category of triggering record.</description>
        <name>CreateNewProductCategory</name>
        <label>Create New Product Category</label>
        <locationX>506</locationX>
        <locationY>815</locationY>
        <inputReference>NewProductCategory</inputReference>
    </recordCreates>
    <recordLookups>
        <name>RecordOfProductCategoryIdenticalToANewOne</name>
        <label>Record Of Product Category Identical To A New One</label>
        <locationX>374</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsThereAlreadyAProductCategoryIdenticalToANewOne</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TechnicalProductCategoryUniqueHelper__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewTechnicalProductCategoryUniqueHelper</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductCategory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssignParentCategory</targetReference>
        </connector>
        <object>ProductCategory__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>New assignment between product and parent category of category associated with triggering record.</description>
        <name>NewProductCategory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductCategory__c</objectType>
    </variables>
</Flow>
